#menuFiltre{
    display: flex;
    justify-content: center;
}

.card-custom{
    background-color: white !important;

}

.refCustom{
    max-width: 20rem !important; 
    border: 0px !important;
}

.iframeCustom{
    width: 100%;
    min-height: 100 vh !important;
}

iframe{
    border: 0px;
}